.new-form__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 3%;
  }
  
  .new-form__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-form__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 15rem;
    max-width: 100%;
  }

  .new-form__control textarea {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: auto;
    max-width: 100%;
  }
  
  .new-form__actions {
    text-align: left;
    margin-top: 40px;
    padding-left: 3%;
  }

  .new-form__actions  .add {
    background-color: rgb(106, 241, 93);
    border: transparent;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: white;
    margin-left: 20px;
  }
  .new-form__actions  .cancel {
    background-color: rgb(233, 66, 66);
    border: transparent;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: white;
  }

  .new-form__actions button {
    cursor: pointer;
  }